
/* admin panel styles


Designer- Anushka Lakshan */


@media (min-width: 768px){
    body{
        margin: 50px;
    }
    #wrapper{
        width: 100%;
        padding-left: 0px;
    }
    #page-wrapper{
        padding: 10px;
    }
}

#wrapper{
    
    background-color: #f9f9f9;
    padding-left: 255px;
    width: 100%;

}

@media (max-width:700px){
    #wrapper{
        padding-left: 0px;
    }
}

/* top navigation */

.top-nav{
    padding:  0 15px;

}


.top-nav>li{
    
    float: left;
    /* display: inline-block; */

}

.top-nav>li>a{
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus{
    color: black;
}

/* sidebar styles */


@media (min-width:768px){

    .side-nav{
        position: fixed;
        top: 51px;
        width: 255px;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222222;
        bottom: 0;
        overflow-x: hidden;;
        padding-bottom: 40px;
        
    }

    .side-nav>li>a{
        width: 255px;
    }

    .side-nav>li>a:hover,
    .side-nav>li>a:focus{
        outline: none;
        background-color: #000000 !important;
    }
}

.side-nav>li>ul{
    padding: 0;
    
}

.side-nav>li>ul>li>a{
    display: block;
    padding: 10px 15px 10px 30px;
    text-decoration: none;
    color: #999999;
    background-color: #2f244e;

}

.side-nav>li>ul>li>a:hover{
    color: #ffffff;
}
.fa-caret-down{
    margin-left: 15px;
}

/* color panels */

.huge{
    font-size: 40px;
    line-height: normal;
}

.panel-green > .panel-heading{
    color: #ffffff;
    background-color: rgb(24, 124, 24);
    
}

.panel-green{
    border-color: rgb(24, 124, 24);
}

.panel-green> a{
    color: #04b604;
    
}
.panel-green> a:hover{
    color: #065506;
    
}


.panel-red > .panel-heading{
    color: #ffffff;
    background-color: rgb(194, 33, 33);
    
}

.panel-red{
    border-color: rgb(194, 33, 33);
}

.panel-red> a{
    color: #f53535;
}
.panel-red> a:hover{
    color: #790e0e;
}

.panel-yellow > .panel-heading{
    color: #000000;
    background-color: rgb(253, 228, 0);
    border-color: rgb(253, 228, 0);
}
.panel-yellow{
    border-color: rgb(253, 228, 0);
}

.panel-yellow> a{
    color: #8b8d03;
}
.panel-yellow> a:hover{
    color: #000000;
}

/* admin profile  */


.panel-body{
    position: relative;

}

.thumb-info{
    position: relative;

}

.rounded{
    border-radius: 10px;

}

hr{
    border: 0;
    height: 1px;
    margin: 22px 0px;

}

hr .dotted{
    height: 0;
    border-bottom: 11px 0px;
    margin: 11px 0 11px 0; 
}

.thumb-info .thumb-info-title{
    background: rgba(36, 27, 20, 0.473);
    bottom: 10%;
    color: #fff;
    font-size: 18px;
    left: 0;
    letter-spacing: -1px;
    padding: 9px 11px 9px;
    position: absolute;
    text-transform: uppercase;
    z-index: 1 ;
}

.thumb-info .thumb-info-inner{
    display: block;

}

.thumb-info .thumb-info-type{
    bottom: #0088cc;
    border-radius: 2px;
    display: inline-block;
   
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    margin: 8px -2px -15px -2px;
    padding: 2px 9px;
    text-transform: none;
}

.widget-content-expanded{
    font-size: 15px;
    margin-top: 15px;

}

.widget-content-expanded span{
    font-weight: bold;

}

.widget-content-expanded i{
    color: #0088cc;
    margin-right: 5px;
}